# --- Discord ---
DISCORD_TOKEN=bot-token
PERMITTED_USER_ROLE_ID=discord-role-id

# --- Node 1 ---
# ----- Pterodactyl Panel URL -----
PTERO_PANEL_URL=http....

# ----- Application API Key  (Admin → API → Application API Keys) -----
# Used for: listing servers
PTERO_API_KEY=ptla_...

# ----- Client API Key  (Your Account → API Credentials) -----
# Used for: live stats + power actions (Start/Stop/Restart)
# IMPORTANT: Must be from an ADMIN panel account to control ALL servers
PTERO_CLIENT_KEY=ptlc_...

# --- Node 2 ---
# ----- Hardware & Power Management -----
# Main nodes console -> ip link
NODE2_MAC=00:11:22:33:44:55
# Without http... and port
NODE2_IP=192.168.x.x
NODE2_SSH_USER=bot-username
# Make sure to use the same name you set in the setup
NODE2_SSH_KEY_PATH=~/.ssh/id_ed25519

# ----- Pterodactyl -----
# ID of the node in the panel (e.g. 2), you can find it in the nodes URL
NODE2_PTERO_ID=x
